@{
    ViewData["Title"] = "Home Page";
}

<link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">



<center>
        <p class="welcomeMessageFont">To Remember Library'ye Hoş Geldiniz!</p>

</center>
