body,
html {
    height: 100%;
    margin: 0;
    background: aliceblue;
    padding: auto;
    /* linear-gradient(to right, rgb(0, 233, 175), rgb(0, 173, 239)); */
}

nav {
    background: linear-gradient(to right,#e9fff8, #9ffce0,#d1ff86);
    height: auto;
    width: 90%;
    border-radius: 10pc;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    /* Gölge ekleme */
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 20px;
}

.navImg {
    height: 45px;
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
}

    .navImg:hover {
        filter: blur(1px);
    }

.navBtn {
    height: 35px;
    width: 125px;
    background-color: aquamarine;
    color: black;
    margin: auto;
    margin-left: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    align-items: center;
    justify-content: center;
}

.nav-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 7px;
    margin-right: 7px;
    margin-bottom: 15px;
}

.page-container {
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 7px;
    margin-right: 7px;
}

.containerForLog {
    background: linear-gradient(to right, rgb(108, 213, 255), rgb(193, 255, 245),rgb(109, 255, 219));
    height: 385px;
    max-width: 338px;
    width: 100%;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    /* Gölge ekleme */
    margin: auto;
}

.chartContainer {
    border: 3px solid #f49131;
    background-color: #251c35;
    box-shadow: 0 0 16px rgba(red, green, blue, alpha);
    height: 325px;
    max-width: 325px;
    width: 100%;
    border-radius: 25px;
    margin-top: 25px;
    margin-bottom: 50px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 7px;
    padding-right: 7px;
    margin-left: 15px;
    margin-right: 15px;
    display: flex;
    flex-direction: column;
    float: left;
}


.imgPrvt {
    border-radius: 10pc;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 7px;
    margin-right: 7px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    /* Daha belirgin bir gölge */
}

.inputForLog {
    border-radius: 10pc;
    max-width: 185px;
    width: 100%;
    height: 20px;
    padding: 10px;
    /* içeriði düzenlemek için iç boþluk ekleme */
    border: 1px solid #ccc;
    /* kenarlýk ekleme */
    margin-top: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 7px;
    margin-right: 7px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    /* Daha belirgin bir gölge */
}

    /* Aktif durumdayken (týklandýðýnda) */
    .inputForLog:focus {
        border: 1px solid aquamarine;
        /* Kenarlýk ekleme */
        outline: none;
        /* Varsayýlan odak çerçevesini kaldýrma */
        box-shadow: 0 0 5px rgba(0, 0, 255, 0.5);
        /* Mavi gölge ekleyebilirsiniz */
        background-color: aliceblue;
    }



.buttonPrvt {
    border-radius: 10pc;
    /* Kenar yumuþatma */
    max-width: 250px;
    width: 100%;
    height: 40px;
    /* Yüksekliði artýrabilirsiniz */
    margin-top: 25px;
    background-color: #3fffdf;
    /* Arka plan rengi */
    color: rgb(82, 72, 72);
    /* Metin rengi */
    border: none;
    /* Kenarlýk yok */
    cursor: pointer;
    /* Ýmleç tipi */
    font-size: 16px;
    /* Metin boyutu */
    transition: background-color 0.3s;
    /* Arka plan rengi geçiþ efekti */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 7px;
    margin-right: 7px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    /* Daha belirgin bir gölge */
}

    /* Ýsteðe baðlý: Düðmeye týklandýðýnda stil deðiþikliði */
    .buttonPrvt:hover {
        filter: blur(1px);
        /* Hover (üzerine gelindiðinde) rengi */
    }

.h2Login {
    font-family: 'Lato', sans-serif;
    margin-top: 5px;
    font-size: 1.5em;
    /* veya baþka bir boyut deðeri */
}

.footerFor {
    position: fixed;
    left: 50%;
    bottom: 0.000000000001%;
    transform: translateX(-50%);
    background: linear-gradient(to right, rgb(0, 233, 175), rgb(0, 173, 239));
    /* Beyaz arkaplan */
    color: #524848;
    /* Metin rengi */
    text-align: center;
    padding: 15px;
    /* Daha geniþ bir iç kenarlýk */
    width: 50%;
    /* Daha dar bir geniþlik */
    margin-bottom: 20px;
    /* Daha fazla alt boþluk */
    border-radius: 15pc;
    /* Daha yuvarlatýlmýþ köþeler */
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    /* Daha belirgin bir gölge */
    font-family: 'Open Sans', sans-serif;
    transition: background-color 0.3s, color 0.3s;
    /* Pürüzsüz geçiþ efekti */
}

    .footerFor:hover {
        filter: blur(1px);
    }

.mySwal {
    border-radius: 35px !important;
}

.my-confirm-button {
    background-color: #8ef6e4;
    /* Örnek: Yeþil arkaplan renk */
    color: black;
    /* Örnek: Beyaz metin renk */
    border: none;
    /* Kenarlýk olmadan */
    padding: 10px 20px;
    /* Yeterli dolgunluk */
    border-radius: 5px;
    /* Yuvarlatýlmýþ köþeler */
    cursor: pointer;
    /* Ýþaretçi türü */
    border-radius: 25px;
}

/* Pop-up arkaplaný için stil */
.popup-background {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    /* Yarý þeffaf siyah arkaplan */
}

.popup-content-Profile {
    position: fixed;
    top: 43%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    /* background: #90f6d7; */
    background: linear-gradient(to right, #85ff55, #6afff8);
    ;
    border-radius: 25px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    text-align: center;
    max-width: 250px;
    width: 100%;
    height: auto;
    margin-bottom: 25px;
}
/* Pop-up penceresi için stil */
.popup-content {
    position: fixed;
    top: 43%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    /* background: #90f6d7; */
    background: linear-gradient(to right, #6afff8, #85ff55);
    ;
    border-radius: 25px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    text-align: center;
    max-width: 250px;
    width: 100%;
    height: auto;
    margin-bottom: 25px;
}


.pop-up-Btn {
    border-radius: 10pc;
    /* Kenar yumuþatma */
    max-width: 100px;
    width: 100%;
    height: 40px;
    /* Yüksekliði artýrabilirsiniz */
    background-color: rgb(255, 78, 78);
    /* Arka plan rengi */
    color: black;
    /* Metin rengi */
    border: none;
    /* Kenarlýk yok */
    cursor: pointer;
    /* Ýmleç tipi */
    font-size: 16px;
    /* Metin boyutu */
    transition: background-color 0.3s;
    /* Arka plan rengi geçiþ efekti */
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    /* Daha belirgin bir gölge */
    margin: auto;
}

    .pop-up-Btn:hover {
        filter: blur(1px);
        /* Hover (üzerine gelindiðinde) rengi */
    }



.buttonMenu {
    border-radius: 10pc;
    /* Kenar yumuþatma */
    max-width: 250px;
    width: 100%;
    height: 40px;
    background: linear-gradient(to right, aliceblue, rgb(217, 237, 255));
    /* Arka plan rengi */
    color: black;
    /* Metin rengi */
    border: none;
    /* Kenarlýk yok */
    cursor: pointer;
    /* Ýmleç tipi */
    font-size: 16px;
    /* Metin boyutu */
    transition: background-color 0.3s;
    /* Arka plan rengi geçiþ efekti */
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    /* Daha belirgin bir gölge */
    margin: auto;
    text-decoration: none;
    /* Alt çizgiyi kaldýrma */
}

.buttonPrifle {
    border-radius: 10pc;
    /* Kenar yumuþatma */
    max-width: 250px;
    width: 100%;
    height: 40px;
    background: linear-gradient(to right, aliceblue, rgb(78, 172, 255));
    /* Arka plan rengi */
    color: black;
    /* Metin rengi */
    border: none;
    /* Kenarlýk yok */
    cursor: pointer;
    /* Ýmleç tipi */
    font-size: 16px;
    /* Metin boyutu */
    transition: background-color 0.3s;
    /* Arka plan rengi geçiþ efekti */
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    /* Daha belirgin bir gölge */
    margin: auto;
    text-decoration: none;
    /* Alt çizgiyi kaldýrma */
}

/* Ýsteðe baðlý: Düðmeye týklandýðýnda stil deðiþikliði */
.buttonMenu:hover {
    filter: blur(1px);
    /* Hover (üzerine gelindiðinde) rengi */
}

.borderContainer {
    background: linear-gradient(to right,#00ffae, #55ff7a,#cdff7c);
    height: auto;
    width: auto;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    margin-top: 25px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    float: left;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 7px;
    padding-right: 7px;
    margin-left: 15px;
    margin-right: 15px;
}

.borderContainerWrite {
    color: gray;
    /* Gri renk */
    font-weight: 300;
    /* Ýnce font aðýrlýðý */
    margin-left: 15px;
}

.borderContainerTitle {
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(90, 90, 90);
    /* Gri renk */
    font-weight: 750;
    /* Ýnce font aðýrlýðý */
}



.cardContainer {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    margin: 25px;
    overflow: hidden;
    max-width: 300px;
    transition: max-height 0.3s ease;
    /* Animasyonlu geçiþ */
}

.cardHeader {
    padding: 10px;
    background-color: #9cfc02;
    color: white;
    cursor: pointer;
}

.cardContent {
    padding: 10px;
}

.listContainerThere {
    background: linear-gradient(to right,#f7fa5f, #76ffe1,#fcacff);
    ;
    height: auto;
    max-width: 320px;
    width: 90%;
    border-radius: 35px;
    display: flex;
    flex-direction: column;
    margin-top: 25px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    float: left;
    margin-left: 15px;
    margin-right: 7px;
    padding-top: 7px;
    padding-bottom: 15px;
    padding-left: 7px;
    padding-right: 7px;
}

.blankContainer {
    background: transparent;
    height: 100px;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 25px;
    float: left;
}

.listContainerTitle {
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(90, 90, 90);
    /* Gri renk */
    font-weight: 750;
    /* Ýnce font aðýrlýðý */
}

.listContainerInThree {
    background-color: rgb(204, 203, 203);
    height: 50px;
    max-width: 320;
    width: 93%;
    border-radius: 10pc;
    display: flex;
    flex-direction: column;
    margin-top: 25px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    float: left;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 7px;
    padding-right: 7px;
    margin: auto;
    margin-top: 15px;
}

.listColumnItemTitleThree {
    max-width: 30%;
    width: 100%;
    height: 40px;
    border-radius: 15pc;
    align-items: center;
    justify-content: center;
    margin-left: 3px;
    border: none;
    background: #a2c11c;
    margin-top: 5px;
}

.listColumnItemThree {
    max-width: 30%;
    width: 100%;
    height: 40px;
    border-radius: 15pc;
    align-items: center;
    justify-content: center;
    margin-left: 3px;
    border: none;
    background: #5ce0a7;
    margin-top: 5px;
}




.listContainerFour {
    background: linear-gradient(to right,#f7fa5f, #76ffe1,#fcacff);
    ;
    height: auto;
    max-width: 370px;
    width: 89%;
    border-radius: 35px;
    margin-top: 25px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    margin-left: 9px;
    margin-right: 7px;
    padding-top: 7px;
    padding-bottom: 15px;
    padding-left: 7px;
    padding-right: 7px;
    display: flex;
    flex-direction: column;
    float: left;
}

.listContainerInFour {
    background-color: rgb(204, 203, 203);
    height: 50px;
    width: 90%;
    border-radius: 10pc;
    display: flex;
    flex-direction: column;
    margin-top: 25px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    float: left;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 7px;
    padding-right: 7px;
    margin: auto;
    margin-top: 15px;
}

.listColumnItemTitleFour {
    max-width: 23%;
    width: 100%;
    height: 40px;
    border-radius: 15pc;
    align-items: center;
    justify-content: center;
    margin-left: 3px;
    border: none;
    background: #a2c11c;
    margin-top: 5px;
}

.listColumnItemFour {
    max-width: 23%;
    width: 100%;
    height: 40px;
    border-radius: 15pc;
    align-items: center;
    justify-content: center;
    margin-left: 3px;
    border: none;
    background: #5ce0a7;
    margin-top: 5px;
}



.formContainer {
    border-radius: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 337px;
    width: 100%;
    height: 385px;
    background: linear-gradient(to right, #9cfc02, #32ebb3, #03ffb3);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    flex-direction: column;
    padding-left: 7px;
    padding-right: 7px;
    padding-top: 20px;
    padding-bottom: 15px;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 100px;
}

.formContainerTitle {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    /* Gri renk */
    font-weight: 750;
    /* Ýnce font aðýrlýðý */
}

.inputForm {
    border-radius: 10pc;
    max-width: 130px;
    width: 100%;
    height: 20px;
    padding: 10px;
    /* içeriði düzenlemek için iç boþluk ekleme */
    border: 1px solid #ccc;
    /* kenarlýk ekleme */
    margin-top: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 7px;
    margin-right: 7px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    /* Daha belirgin bir gölge */
}

.inputFormV2 {
    border-radius: 10pc;
    max-width: 260px;
    width: 100%;
    height: 20px;
    padding: 10px;
    /* içeriði düzenlemek için iç boþluk ekleme */
    border: 1px solid #ccc;
    /* kenarlýk ekleme */
    margin-top: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 7px;
    margin-right: 7px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    /* Daha belirgin bir gölge */
}

/* Aktif durumdayken (týklandýðýnda) */
.inputForm:focus {
    border: 1px solid aquamarine;
    /* Kenarlýk ekleme */
    outline: none;
    /* Varsayýlan odak çerçevesini kaldýrma */
    box-shadow: 0 0 5px rgba(0, 0, 255, 0.5);
    /* Mavi gölge ekleyebilirsiniz */
    background-color: aliceblue;
}

.dashBoardTitle {
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 90%;
    background: linear-gradient(to right, #9cfc02, #32ebb3, #03ffb3);
    ;
    display: flex;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    /* Daha belirgin bir gölge */
    border-radius: 10pc;
    margin: auto;
    margin-bottom: 25px;
    margin-top: 25px;
}


.dashboardContainerTitle {
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(95, 95, 95);
    /* Gri renk */
    font-weight: 750;
    /* Ýnce font aðýrlýðý */
}
